bin/
obj/

*.suo
*.user
*.vs/
*.vshost.*

*.DotSettings.user
*.ReSharper*
*.resharper
.idea/

*.log
*.dump

project.lock.json
packages/*
/project.assets.json
/project.nuget.cache
/project.packagespec.json
/rider.project.model.nuget.info
/rider.project.restore.info

/node_modules/

.Dockerfile*
.dockercfg
Dockerfile.debug
Dockerfile.release

**/*.nuget*

.vscode/

*.pfx
*.snk

**/*-bundle.js.map
**/*-bundle.css.map

*~*
.*
!.gitignore